@import '../styles/colors';

#hamburger-btn {
  padding-right: 0.5rem;
  cursor: pointer;
  display: none;
}

#nav-home {
  font-weight: 600;
  font-size: 1.5rem;
}

#sidenav {
  background-color: $pmr-primary;
}

.flex-space {
  flex-grow: 1;
}

.main-container {
  height: calc(100dvh - 60px);
}

.sidenav-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
  color: white;

  .sidenav-icon {
    font-size: 18px !important;
  }
}

@media only screen and (max-width: 650px) {
  #hamburger-btn {
    display: inline-block;
  }

  #navbar-menu-items {
    display: none;
  }
}
