<div class="container">
  <section class="section-input">

    <mat-form-field appearance="fill" id="textarea-text-to-encode">
      <mat-label>Text to Encode</mat-label>
      <textarea matInput rows="10" [formControl]="textToEncodeFormControl"></textarea>
    </mat-form-field>

    <div class="input-actions">

      <mat-form-field appearance="fill" id="dropdown-charset">
        <mat-label>Charset</mat-label>
        <mat-select [formControl]="charsetFormControl">
          <mat-option *ngFor="let charset of charsets" [value]="charset">
            {{charset}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button class="btn-main-action" aria-label="encode text" (click)="onEncodeClick()">
        Encode
      </button>
    </div>
  </section>

  <mat-divider></mat-divider>

  <section class="section-output">
    <mat-form-field appearance="fill" id="textarea-encoded-text">
      <mat-label>Encoded Output</mat-label>
      <textarea matInput rows="10" readonly="true" [value]="encodedText"></textarea>
    </mat-form-field>
  </section>

</div>
